{{yield}}

<div class="dt mw6 center pt0 pb5 pv5-m pv6-ns">
  <div class="db dtc-ns v-mid-ns">
    <img src="{{project.image}}" alt="{{project.title}}" class="w-100 mw7 w5-ns" />
  </div>
  <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
  	<h3 class="f3-ns f4 fw5-ns fw6 mb3 fw5 lh-title">{{projcet.title}}</h3>
    <p class="lh-copy">
      {{project.description}}
    </p>
  </div>
</div>